.left{
    background-color: rgb(230, 230, 230);
    /* border: 1px solid black; */
    border-radius: 5px;
    margin: 0px 0px 2px 0px;
    width: 200px;
    height: 30px;
    /* text-align: center; */
    /* display: table-cell;
    vertical-align: middle; */
    /* position: absolute;
    top: 50%; */
    display: flex;
    align-items: center;
    /*
    디비전 안에서 버티컬 중앙정렬 방법 flex
    https://hyunseob.github.io/solved-by-flexbox-kr/demos/vertical-centering/
    */
    
}
/* 사이드메뉴 디비전 클래스, 네모 모양 잡아줌 */

.left a:link{
    text-decoration: none;
    color: black;
    /* left 디비전 안의 text를 하이퍼링크 시킬때, 밑줄 없애고 검정색으로 */
}
.left a:visited{
    color: black;
}
.left a:active{
    color: black;
}


.left:hover{
    background-color: green;
    font-weight: bold;
   /* left 디비전에 hover시키면 배경을 초록, 글자를 두껍게 */
}

